node_modules/
package-lock.json
npm-debug.log*
.env
.env.local
.env.*.local

# Expo / React Native
.expo/
.expo-shared/
*.expo
*.expo.local
web-build/
android/
ios/
/dist/

# VSCode
.vscode/

# macOS
.DS_Store

# logs
logs/
*.log

# build
build/

# OS files
Thumbs.db

# JetBrains
.idea/

# Misc
*.tgz

# LFS artifacts (if using LFS)
# *.mp4
# *.mov
# *.zip
